@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Tektur:wght@400..900&display=swap');

body{
    background: rgb(29,40,41);
    background: -moz-linear-gradient(90deg, rgba(29,40,41,1) 0%, rgba(24,30,31,1) 11%, rgba(19,19,20,1) 41%, rgba(19,19,20,1) 58%, rgba(24,30,31,1) 85%, rgba(29,40,41,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(29,40,41,1) 0%, rgba(24,30,31,1) 11%, rgba(19,19,20,1) 41%, rgba(19,19,20,1) 58%, rgba(24,30,31,1) 85%, rgba(29,40,41,1) 100%);
    background: linear-gradient(90deg, rgba(29,40,41,1) 0%, rgba(24,30,31,1) 11%, rgba(19,19,20,1) 41%, rgba(19,19,20,1) 58%, rgba(24,30,31,1) 85%, rgba(29,40,41,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1d2829",endColorstr="#1d2829",GradientType=1);
    color: aliceblue;
    font-family: "Tektur", sans-serif;
    padding: 2rem;
    overflow: hidden; /* Hides both vertical and horizontal scrollbars */
    }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    header{
        display: flex;
        justify-content: space-between;
        text-align: center;
        font-size: 2em;
        font-weight: bold;
    }
    .logo{
        background: linear-gradient(to right, #004e10, #00b50f);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .contact-btn{
        padding: 10px 20px;
        background: #0b1e0f;
        color: rgb(3, 197, 13);
        border: none;
        font-family: "Tektur", sans-serif;
        border-radius: 50px;
        cursor: pointer;
        transition: background 0.3s ease;
    }
    .contact-btn:hover{
        background: #06110d;
    }

    main{
        overflow: hidden;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        min-height: 85vh;
    }

    .title-section{
        margin-top: 2rem;
    }

    main h1{
        text-align: center;
        font-size: 6em;
        font-weight: bold;
        letter-spacing: 5px;
        line-height: 1;
        background-image: linear-gradient( rgba(255, 255, 255), rgb(38, 179, 28));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: pulse 2s infinite;
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }
    .location{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .location p {
        font-size: 1.5em;
        background-image: linear-gradient( rgba(255, 255, 255), rgb(38, 179, 28));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }

    .bio-section{
        margin-top: auto;
        margin-bottom: 2rem;
    }

    .bio-content{
        font-size: 1em;
        line-height: 1.5;
        letter-spacing: 1px;
        font-weight: 500;
        max-width: 22rem;
    }

    .scroll-down{
        height: 5rem;
        width: 2rem;
        position: absolute;
        right: 2%;
        bottom: 5%;
        box-shadow: 0 0 10px rgb(133, 133, 133) ;
        border-radius: 50px;
        cursor: pointer;
    }
    .scroll-down::before,
    .scroll-down::after{
        content: "";
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -100%) rotate(45deg);
        width: 10px;
        height: 10px;
        border: 2px solid lightblue;
        border-top: transparent;
        border-left: transparent;
        animation: scroll-down 3s ease-in-out infinite;
    }

   .scroll-down::before{
    top: 30%;
    animation-delay: .8s;
   }

   @keyframes scroll-down {
       0% {
        opacity: 0;
       }
       30%, 60%{
        opacity: 1;
       }
       100% {
        opacity: 0;
        top: 90%;
       }
   }

  /* 3D planet */
  .planet-3d{
    position: absolute;
    top: -12%;
    right: -10%;
    width: 120%;
    height: 120%;
  }

@media (max-width: 1400px){
    main h1 {
        font-size: 4.5em;
        letter-spacing: 0;
    }

}

@media (max-width: 768px) {
    
    main h1 {
        display: none;
    }

    .bio-section{
        margin-bottom: 1rem;
    }
    .bio-content{
        font-size: 0.9em;
        max-width: 15rem;
    }
    .location p {
        font-size: 1em;
    }
}