:root {
    --width: 200px; /* Define the width of each slider item */
    --height: 100px; /* Define the height of each slider item */
    --quantity: 5; /* Total number of items in the slider */
    --position: 1; /* Default position for animation */
}

.skill-sectiom{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}
.section-title{
    text-align: center;
}

.skill-box{
    width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
}

.skill-image{
    width: 70%;
    mix-blend-mode: lighten;
    opacity: 0.7;
}

.designer{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    top: 25%;
    left: 5%;
    max-width: 300px;
}

.coder{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    top: 25%;
    right: 5%;
    max-width: 300px;

}
.skill-box h1{
    font-size: 50px;
    display: flex;
    align-items: center;
}

.skill-box p{
    line-height: 23px;
}

/* Slider */

.slider{
    position: absolute;
    bottom: 5%;
    right: 20%;
    width: 60%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        rgba(255, 255, 255, 0) 0%,
        transparent
    );
    -webkit-mask-image: linear-gradient(
        to right,
        transparent,
        rgba(255, 255, 255, 0) 0%,
        transparent
    ); /* Fallback for WebKit browsers */
    mix-blend-mode: difference;
    opacity: 0.8;
}

.slider .list{
    display: flex;
    width: 100%;
    min-width: calc(var(--width)* var(--quantity));
    position: relative;
}

.slider .list .item{
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 10s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc((10s / var(--quantity)) * (var(--position) - 1)) !important; /* Fixed calculation */
} 

    .slider .list .item img{
        width: 100%;
    }

@keyframes autoRun{
    from{
        left: 100%;
    }
    to{
        left: calc(var(--width) * -1);
    }
}

.slider:hover .item{
    animation-play-state: paused !important;
    filter: grayscale(1);
}

.slider .item:hover{
    filter: grayscale(0);
}